body {
   font-family: Arial, sans-serif;
   background-color: #0e7a7e;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.container {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 90%;
   max-width: 500px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.chat {
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 10px;
   height: 300px;
   overflow-y: auto;
   background-color: #f9f9f9;
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
}

input[type="text"] {
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 10px;
   flex-grow: 1;
   margin-right: 10px;
}

.btn {
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.btn:hover {
   background-color: #0056b3;
}

input[type="text"], .btn {
   font-size: 16px;
}

@media (max-width: 600px) {
   .container {
       width: 100%;
       margin: 10px;
   }
   input[type="text"] {
       margin-right: 0;
       margin-bottom: 10px;
   }
   .btn {
       width: 100%;
   }
}



.chat ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   width: 100%; 
   display: flex;
   flex-direction: column;
   gap: 8px; 
}

.chat li {
   width: 50%;
   max-width: 100%;
   border-radius: 5px;
   padding: 8px 12px;
   word-wrap: break-word;
   font-size: 14px;
   line-height: 1.5;
   display: flex;
   align-items: center;
   box-sizing: border-box; 
   overflow-wrap: break-word;
}

.me {
   background-color: #b0dbe2;
   border: 1px solid #8ccad3;
   align-self: flex-end;
   text-align: right;
}

.other {
   background-color: #8fd195;
   border: 1px solid #c8e6c9;
   align-self: flex-start; 
   text-align: left;
}
